/* Definiendo variables de color en la raíz del documento */
/* Incluir la fuente de Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
    --color-background-anuncio: #8ecae6; /* Color de fondo para anuncios */
    --color-background-evento: #023047; /* Color de fondo para eventos */
    --color-text: #023047; /* Color principal del texto */
    --color-text-secondary: #8ecae6; /* Color secundario del texto, para contrastar */
}

.card-anuncio,
.card-evento {
    border-radius: 10px;
    padding: 1.25rem; /* 20px */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.25rem; /* 20px */
    text-align: center;
    transition: transform 0.3s ease-in-out; /* Suave efecto de transición para hover */
}

.card-anuncio {
    background: var(--color-background-anuncio);
}

.card-evento {
    background: var(--color-background-evento);
}

.card h2 {
    margin: 0.5rem 0 1rem; /* 10px top/bottom, 0 left/right */
    color: var(--color-text);
}

.card p {
    color: var(--color-text-secondary);
}

.card h3 {
    color: var(--color-text);
    margin-top: 1rem; /* 20px */
}

/* Efectos de hover */
.card-anuncio:hover,
.card-evento:hover {
    transform: translateY(-5px); /* Levanta la tarjeta ligeramente */
}

/* Asegurándose de que las tarjetas sean responsivas */
@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
    }

    .card-anuncio,
    .card-evento {
        margin-bottom: 1rem; /* Espacio entre tarjetas cuando están en columna */
    }
}

body {
    font-family: "Open Sans", sans-serif;
}
