.container-footer {
    /* min-height: 100%; */
    background-image: url("../assets/Contact-back.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
    padding: 0; /* Ajusta según sea necesario */
    border: 0; /* Ajusta según sea necesario */
    margin-top:4rem;
}
.row-footer{
    flex-wrap:no-wrap
}

.texto-con-borde {
    color: "#383d42";
    /* Color del texto */
    -webkit-text-stroke: 0.5px rgb(225, 225, 225);
    /* Ancho y color del borde */
    font-size: 20px;
    /* Tamaño del texto */
}

@media only screen and (max-width: 768px) {
    .row-footer{
        flex-wrap: wrap;
    }

        .texto-con-borde {
            /* Color del texto */
            -webkit-text-stroke: 0;
            /* Ancho y color del borde */
        }

        .texto-con-borde a{color:white}
}


