.container-footer {
    /* min-height: 100%; */
    background-image: url("../assets/Contact-back.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
    padding: 0; /* Ajusta según sea necesario */
    border: 0; /* Ajusta según sea necesario */
    margin-top:4rem;
}
.row-footer{
    flex-wrap:no-wrap
}

@media only screen and (max-width: 768px) {
    .row-footer{
        flex-wrap: wrap;
    }
    .toast-container {
        left: 0;
    }
}


@media only screen and (min-width: 769px) {
    .toast-container {
        left: 150px;
    }
}