.background-contact {
    min-height: 100%;
    background-image: url("../assets/Contact-back.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
    padding: 0; /* Ajusta según sea necesario */
    border: 0; /* Ajusta según sea necesario */
    position: fixed;
    left: 0;
    right: 0;
}
