.background-6 {
    padding: 20px;
    background-color: #f4f4f4;
}

.cursos-titulo {
    color: black;
    background-color: var(--color5); /* Asume que deseas un fondo azul para el título */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    display: inline-block; /* Asume que quieres que el título tenga su propio bloque */
    width: 100%; /* Hace que el título se expanda para llenar el ancho del contenedor */
}

.parrafo {
    color: #333;
    font-size: 1rem;
    line-height: 1.6;
    font-family: sans-serif;
    margin-bottom: 2rem;
    width: 80%;
    text-align: justify;
    margin-left: auto; /* Centra el párrafo horizontalmente */
    margin-right: auto;
}
