.background-6 {
    padding: 20px;
    background-color: #f4f4f4;
}
/* .container {
    display: flex;
    flex-direction: column;
    max-width: 1200px; 
    margin: auto; 
    text-align: center; 
} */

/* no usar nombre de clases predefinidas por boostrap (modifica otros componentes */

.cursos-titulo {
    color: black;
    background-color: var(--color5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    display: inline-block;
    width: 100%;
    margin-top: 4rem;
}

.parrafo {
    color: #333;
    font-size: 1rem;
    line-height: 1.6;
    font-family: sans-serif;
    /* margin-bottom: 2rem;
    width: 80%; */
    text-align: justify;
    margin-left: auto; /* Centra el párrafo horizontalmente */
    margin-right: auto;
}
