
  
  .eventos {

    margin-top: 80px;
    height: 130vh;
    padding: 0%;
    display: inline-block;
    
  
  }

  .eventos h1{

    color: beige;
    background-color: var(--color3); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    display: inline-block;
    width: 100%;
    margin-top: 4rem;
    font-size: 50px;
    font-weight: bold;
    text-align: center;

  }


 
  .eventoCard {
    
    display: flex;
    
    margin-top: 40px;
 

    
    
  }
  
  .evento {

    background-color: #f2f2f2;
    border-radius: 5px;
    margin: 1px;
    width: 30%;
    height: 390px;
    border: 2px solid blue;
    padding: 3px;
    margin-right: 20px;

  }
  
  
  .details {
    text-align: left;
  }
  
  .type {
    text-transform: uppercase;
    font-weight: bold;
    color: orangered;
    margin-bottom: 5px;
    font-style: italic;
    
  }
  
  .name {
    font-size: 1.4rem;
    margin-bottom: 5px;
  }
  
  .date {
    font-size: 1.2rem;
    margin-top: 9px;
    margin-bottom: 9px;
    color: blue;
    font-weight: bold;

  }
  
  .time {
    font-size: 1rem;
    font-weight: bold;
  }

  .btnInfo {

    color: beige;
    background-color: var(--color3); 
    font-weight: bold;
    text-align: center;
    border-radius: 2px;
  

  }

  .imagenInfo{

    width: 120px;
    height: 120px;
    border-color: blue;
  

  }