.evento {
    min-height: 100vh;
    /* display: inline-block; */
    margin-bottom: 2rem;
}



.card-evento-anuncio {
    padding: 1.5rem;
        border-radius: 1rem;
    height: 75vh;
    background: linear-gradient(to right, #008080, #00ced1);
    color: white;
/*     padding: 50px;
    width: 80%; */
}
.card-evento-titulo {
    color: #333;
    font-size: 20px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin-bottom: 2rem;
    font-size: 2rem;
}
.card-evento-descripcion {
    color: #b4c1e1;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 1rem;
}
.card-event-image {
    background-size: cover;
    background-position: center;
    filter: drop-shadow(0 0 0.75rem #444141);
}
.card-evento-fecha {
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: bold;
    color: #b4c1e1;
}
.slick-dots li button:before {
    color: #fff;
}
