.item-input{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.item-input input{
    height: 3rem;
}

textarea{
    height: 5rem;
}

.form-alta{
    width: 60%;
}


@media screen and (max-width: 769px) {
    .form-alta {
        width: 100%;
        /* Formulario ocupará el 70% del ancho en tablets */
        margin: 0 auto;
        /* Centrar el formulario en tablets */
    }
}