.navbar{
    display: flex;
        height: 100%;
        /* position: absolute; */
        /* top: 150px; */
        align-items: flex-end;
        flex-direction: column;
        justify-content: space-between;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #333;
    color: white;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}
.navbar a {
    text-decoration: none;
}

.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 1.5em;
    color: #346084;
}


.background-container {
    /* Ajusta según tus necesidades */
    height: 13rem;
    /* Ajusta según tus necesidades */
    background-image: url('../assets/wave-haikei.svg');
    background-image: url('../assets/barrita.svg');
    background-size: cover;
    /* Ajusta según tus necesidades */
    background-position: center;
    /* Ajusta según tus necesidades */
    background-repeat: no-repeat;
    opacity: 0.8
}

@media only screen and (max-width: 768px) {
    .navbar ul {
            flex-direction: column;
            position: absolute;
            top: 60px;
            left: 0;
            width: 100%;
            /* Cambia el ancho al 100% */
            background-color: #333;
            display: none;
            text-align: center;
        }
    
        .navbar ul.menu-open {
            display: flex;
            top: 200px;
        }
    
        .navbar li {
            margin: 0;
            padding: 15px;
            width: 100%;
            /* Añade esta propiedad para que los elementos ocupen todo el ancho */
            box-sizing: border-box;
            /* Añade esta propiedad para incluir el padding en el ancho total */
        }
    
        .menu-icon {
            display: block;
        }
}