/* src/home2.css */

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.landing-page {
    background-color: #e6e5e1;
    margin: 0 auto;
    padding: 20px;
    background-size: cover;
    background-position: center;
    color: #000;
}

header {
    background-color: transparent;
    color: #000;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}


.navbarstyle {
    display: flex;
    height: 100%;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
}

.navbarstyle ul {
    list-style: none;
    display: flex;
}

.navbarstyle li {
    margin-right: 20px;
    position: relative;
    color: black;
}

.navbarstyle a {
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color: black;
    position: relative;
    transition: color 0.3s ease-in-out;
}

.navbarstyle a::before {
    color: var(--color1);
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    /* Altura del subrayado */
    bottom: 0;
    left: 50%;
    /* Posición inicial en el centro */
    background-color: #12b0b4;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.navbarstyle li:hover a::before {
    color: var(--color1);
    width: 100%;
    /* Ancho del subrayado al pasar el mouse */
    left: 0;
    /* Posición final, para centrar el subrayado */
}
a:hover {
    color: var(--color1);
}

.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #346084;
}

.main section {
    display: flex;
        height: 100vh;
        margin-bottom: 20px;
        padding: 20px;
        background: rgb(230, 229, 225);
        border-radius: 8px;
        justify-content: center;
        align-items: center;
}

footer {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    background-color: transparent;
    color: #fff;
}

.item-menu {
    color: rgb(56, 61, 66);
    font-size: 1rem;
}


.main{
    background: rgb(230, 229, 225)
}
header h3{
    padding: 0.5rem;
        font-size: 1rem;
        text-align: start;
        color: black;
}


.background-1{
    border-radius: 2rem;
        padding: 3rem;
    background-image: linear-gradient(245deg,
                hsl(48deg 9% 89%) 14%,
                hsl(184deg 44% 82%) 91%,
                hsl(186deg 70% 73%) 101%);
}
.icon{
    padding: 1rem;
    width: 40%;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .navbarstyle ul {
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        display: none;
        text-align: center;
    }

    .navbarstyle ul.menu-open {
        display: flex;
        top: 200px;
    }

    .navbarstyle li {
        margin: 0;
        padding: 15px;
        width: 100%;
        box-sizing: border-box;
    }

    .menu-icon {
        display: block;
    }

    .item-menu {
        color: rgb(245, 245, 245);
        font-size: 2rem;
    }
}