.fondo-panta{
    background-image: url("../assets/fondo_panta.jpg");
    background-size: cover;
        background-position: center;
}

.fondo-panta{
    padding-top:80px;
    text-align:start;
    padding-bottom:80px;
}

.body-inscripcion {
    padding:15px;
    font-size: 18px;
    color: var(--color3);
}

.body-inscripcion h2{
    color: #12b0b4;
        text-shadow: 2px 2px 4px var(--color3);
        padding-top: 3rem;
        font-weight: 900;
}
.header-inscripcion{
    position: sticky;
            top: 5rem;
            background: var(--color1);
            display: flex;
            justify-content: space-between;
            align-items: center;
}

.contenedor-imagen-curso img{
    height: 8rem;
   
}

.boton-inscripcion{
    background-color: #4caf50;
        color: #fff;
        padding: 10px 20px;
        border: 2px solid var(--color2);
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s;
}


.boton-inscripcion:hover {
    background-color: #e3e3e3;
    /* Nuevo color de fondo al pasar el ratón */
    color: #000000;
    /* Nuevo color de texto al pasar el ratón */
    border-color: #1976D2;
    /* Nuevo color del borde al pasar el ratón */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    /* Nueva sombra al pasar el ratón */
}

.info-inscripcion h2,
.info-inscripcion h3 {
    text-shadow: 2px 2px 4px var(--color3);
    /* Sombra de texto */
    font-weight: bold;
    /* Peso de la fuente en negrita */
    text-transform: capitalize;
    /* Convertir el texto a capitalizado (mayúsculas en la primera letra de cada palabra) */
    color: var(--color3);
    /* Color del texto */
}
@media only screen and (max-width: 768px) {
.header-inscripcion {
        
        top: 6rem;

    }

.fondo-panta{
    padding-top:130px
}
.body-inscripcion {
    padding-top: 2rem
}
.contenedor-imagen-curso img {
    max-width: 8rem;
}
}
