.grid-container {
    display: grid;
    gap: 20px;
}

/* Estilos de los elementos del grid (solo para ilustrar) */
.grid-item {
    color:rgb(41, 41, 41);
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

.container-buttons{
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
        background: #495057;
}
/* Para escritorio */
@media screen and (min-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

/* Para tablet */
@media screen and (max-width: 1023px) and (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

/* Para móvil */
@media screen and (max-width: 767px) {
    .grid-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

